{% extends "base_nav.html" %}
{% block content %}

<h1>Ascii Art</h1>

<form method="post" action="/ascii">
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" id="title" name="title" value={{title}}>
    </div>
    <div class="form-group">
        <label>Art</label>
        <textarea class="form-control" style="font-family:monospace;" name="art" rows="10" id="title">{{art}}</textarea>
    </div>
    {% if error %}
    <div class="form-group has-error"><span class="help-block">{{error}}</span></div>
    {% endif %}
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<hr>
<table>
{% for art in arts %}
<tr><td>
    <div>{{art.title}}</div>
    <pre>{{art.art}}</pre>
    </td>
<tr>
{% endfor %}
</table>
{% endblock %}
