{% extends "base_nav.html" %}
{% block content %}

<h1>Ascii Art</h1>

<form method="post" action="/ascii">
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" id="title" name="title" value={{title}}>
    </div>
    <div class="form-group">
        <label>Art</label>
        <textarea class="form-control" name="art" rows="10" id="title">{{art}}</textarea>
    </div>
    {% if error %}
    <div class="form-group has-error"><span class="help-block">{{error}}</span></div>
    {% endif %}
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<hr>
{% for art in arts %}
<div class="art">
    <div class="art-title">{{art.title}}</div>
    <pre class="art-body">{{art.art}}</div></pre>
</div>
{% endfor %}

{% endblock %}
