{% extends "base_nav.html" %}
{% block content %}

<h1>Blog Main Page</h1>
<hr>
<form action="/blog/newpost">
    <br><button class="btn btn-default">Create New Post</button>
</form>
<hr>
<h4>Archives</h4>
<div>
<table class="table table-bordered table-striped">
{% for blog in blog_posts %}
    <tr>
        <td><a href="{{"/blog/"}}{{blog.key().id()}}">{{blog.subject}}</a></td>
        <td>{{blog.created | datetime }}</a></td>
    </tr>
{% endfor %}
</table>    
<div style="position:absolute;bottom:5px;right:5px;margin:0;padding:5px 3px;">
    Queried {{cache_age}} seconds ago
</div>
{% endblock %}
