{% extends "base.html" %}
{% block content %}
<hr>
<h3> Returning users:</h3>
    <form class="form-horizontal" method="post" action="/login" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="name">Username:</label>
            <div class="col-sm-4">
                <input class="form-control" name="username" id="name" value={{username}}>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="pw">Password:</label>
            <div class="col-sm-4">
                 <input class="form-control" name="password" id="pw" type="password" value={{password}}>
            </div>
        </div>
        {% if invalid %}
        <div class="form-group has-error">
        {% else %}
        <div class="form-group">
        {% endif %}
                <span class="col-sm-offset-3 col-sm-4 help-block">{{invalid}}</span>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                <button class="btn btn-default" type="submit">Login</button>
            </div>
        </div>
    </form>
<hr>
<h3>New users:</h3>
<form action="/signup">
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-4">
            <button class="btn btn-default">Sign up</button>
        </div>
    </div>
</form>
{% endblock %}
