{% extends "base_nav.html" %}
{% block content %}

<h3>Password Reset Page</h3>
<br>
<hr>
<form class="form-horizontal" method="post" role="form">
 
{% if password_error %} 
<div class="form-group has-error">
{% else %}
<div class="form-group">
{% endif %}
    <label class="col-sm-3 control-label" for="pw">New password:</label>
    <div class="col-sm-4">
        <input class="form-control" type="password" id="pw" name="password" value={{password}}>
    </div>
    <span class="help-block">{{password_error}}</span><br>
</div>
{% if verify_error %} 
<div class="form-group has-error">
{% else %}
<div class="form-group">
{% endif %}
    <label class="col-sm-3 control-label" for="verify">Verify new password:</label>
    <div class="col-sm-4">
        <input class="form-control" type="password" id="verify" name="verify" value={{verify}}>
    </div>
    <span class="help-block">{{verify_error}}</span><br>
</div>
<div class="form-group">
     <div class="col-sm-offset-3 col-sm-4">
     <button type="submit" class="btn btn-default">Submit</button>
     </div> 
</div>
</form>
{% endblock %}
