{% extends "base.html" %}
{% block content %}
<form method="post" action="/blog/signup">
    <label>Username: <input name="username" value={{username}}></label>
    <div style="color: red">{{username_exists}} {{username_error}}</div><br>
    <label>Password:
        <input type="password" name="password" value={{password}}>
    </label>
    <div style="color: red">{{password_error}}</div><br>
    <label>Verify password:
        <input type="password" name="verify" value={{verify}}>
    </label>
    <div style="color: red">{{verify_error}}</div><br>
    <label>Email: <input name="email" value={{email}}></label>
    <div style="color: red">{{email_error}}</div><br>
    <br><button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
