{% extends "base.html" %}
{% block content %}
<h3>New users:</h3>
<form class="form-horizontal" method="post" action="/blog/signup" role="form">
    <div class="form-group">
        <label class="col-sm-3 control-label" for="name">Username:</label>
        <div class="col-sm-4">
            <input class="form-control" name="username" id="name" value={{username}}>
        </div>
        <div class="error">{{username_exists}} {{username_error}}</div><br>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="pw">Password:</label>
        <div class="col-sm-4">
            <input class="form-control" type="password" id="pw" name="password" value={{password}}>
        </div>
        <div class="error">{{password_error}}</div><br>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="verify">Verify password:</label>
        <div class="col-sm-4">
            <input class="form-control" type="password" id="verify" name="verify" value={{verify}}>
        </div>
        <div class="error">{{verify_error}}</div><br>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="email">Email:</label>
        <div class="col-sm-4">
            <input class="form-control" name="email" id="email" value={{email}}>
        </div>
        <div class="error">{{email_error}}</div>
    </div>
    <div class="form-group">
         <div class="col-sm-offset-2 col-sm-4">
         <button type="submit" class="btn btn-default">Sign up</button>
         </div> 
    </div>
</form>
<hr>
<h3>Returning users:</h3>
<form action="/blog/login">
    <div class="form-group">
         <div class="col-sm-offset-2 col-sm-4">
            <button class="btn btn-default">Login</button>
        </div>
    </div>
</form>
{% endblock %}
